<div class="umb-property-editor novicell-oembed-property-editor"
    ng-controller="Novicell.OEmbed.PropertyEditorController as vm">
    <div class="novicell-oembed-property-editor__preview" ng-show="model.value.oembed">
        <div class="umb-node-preview">
            <div class="umb-node-preview__content">
                <novicell-oembed-preview model="model.value.oembed"></novicell-oembed-preview>
            </div>
            <div class="umb-node-preview__actions">
                <a class="umb-node-preview__action" title="Edit" ng-click="vm.edit()">
                    <localize key="general_edit">Edit</localize>
                </a>
                <a class="umb-node-preview__action umb-node-preview__action--red" title="Remove" ng-click="vm.remove()">
                    <localize key="general_remove">Remove</localize>
                </a>
            </div>
        </div>
    </div>

    <a ng-hide="model.value.oembed" class="umb-node-preview-add" href="#" ng-click="vm.add()" prevent-default>
        <localize key="general_add">Add</localize>
    </a>
</div>