<div class="novicell-oembed-preview">
    <div class="umb-media-card" ng-if="vm.model" ng-switch="vm.model.type | lowercase">
        <div class="novicell-oembed-preview__container"
            ng-class="{'novicell-oembed-preview__container--fixed-ratio': vm.aspectRatio>0}"
            ng-style="{'padding-top': (vm.aspectRatio * 100) + '%'}">
            <div ng-switch-when="photo">
                <div class="novicell-oembed-preview__frame novicell-oembed-preview__frame--{{vm.model.type|lowercase}}">
                    <img class="novicell-oembed-preview__photo" ng-src="{{vm.model.url}}" ng-width="{{vm.model.width}}"
                        ng-height="{{vm.model.height}}" alt="" title="{{vm.model.title}}" />
                </div>
            </div>
            <div ng-switch-default>
                <iframe ng-if="vm.srcdoc" ng-on-load="vm.observeFrame($event.target)" srcdoc="{{vm.srcdoc}}"
                    class="novicell-oembed-preview__frame novicell-oembed-preview__frame--{{vm.model.type|lowercase}}"
                    sandbox="allow-scripts allow-same-origin allow-presentation" marginheight="0" marginwidth="0"
                    scrolling="no"></iframe>
            </div>
        </div>

        <div ng-if="vm.model" class="__info">
            <div class="__name">
                <span class="novicell-oembed-preview__title" ng-bind="vm.model.title"></span><br />
                <span class="novicell-oembed-preview__author" ng-if="vm.model.author_url||vm.model.author_name">
                    <localize key="general_by">by</localize>
                    <a ng-href="{{vm.model.author_url}}" target="_blank" rel="noopener noreferrer" ng-bind="vm.model.author_name"></a>
                </span>
                <span class="novicell-oembed-preview__provider" ng-if="vm.model.provider_url||vm.model.provider_name">
                    (<a ng-href="{{vm.model.provider_url}}" target="_blank" rel="noopener noreferrer" ng-bind="vm.model.provider_name"></a>)
                </span>
            </div>
        </div>
    </div>
</div>
