<div class="umb-property-editor novicell-oembed-property-editor"
    ng-controller="Novicell.OEmbed.PropertyEditorController as vm">
    <div class="novicell-oembed-property-editor__preview" ng-show="model.value.oembed">
        <div class="umb-node-preview">
            <div class="umb-node-preview__content">
                <novicell-oembed-preview model="model.value.oembed"></novicell-oembed-preview>
            </div>
            <div class="umb-node-preview__actions">
                <button type="button" class="umb-node-preview__action" ng-click="vm.edit()">
                    <localize key="general_edit">Edit</localize>
                </button>
                <button type="button" class="umb-node-preview__action umb-node-preview__action--red" ng-click="vm.remove()">
                    <localize key="general_remove">Remove</localize>
                </button>
            </div>
        </div>
    </div>

    <button type="button"
            class="umb-node-preview-add" 
            ng-hide="model.value.oembed" 
            ng-click="vm.add()">
        <localize key="general_add">Add</localize>
    </button>
</div>