.novicell-oembed-property-editor
.novicell-oembed-property-editor__preview
.umb-node-preview__actions {
    align-items: start;
}

.novicell-oembed-property-editor
.novicell-oembed-property-editor__preview
.umb-node-preview__content {
    overflow: unset;
}

.novicell-oembed-preview .novicell-oembed-preview__frame,
.novicell-oembed-preview .novicell-oembed-preview__photo {
    max-width: 100%;
}

.novicell-oembed-preview__container {
    max-width: 100%;
    width: 100%;
}

.novicell-oembed-preview__container--fixed-ratio {
    position: relative;
    padding-top: 0;
}

.novicell-oembed-preview .novicell-oembed-preview__frame {
    width: 100%;
    height: 0;
}

.novicell-oembed-preview
.novicell-oembed-preview__container--fixed-ratio
.novicell-oembed-preview__frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.novicell-oembed-preview .__info {
    position: unset;
    opacity: unset;
}
