<?xml version="1.0" encoding="utf-8"?>
<Content Key="6608e055-eb60-4cbd-8f03-b88e274df494" Alias="home1" Level="2">
  <Info>
    <Parent Key="7f84203d-1d99-46f1-a4f0-2a53834f730d">site1</Parent>
    <Path>/site1/home1</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2021-07-11T22:35:49</CreateDate>
    <NodeName Default="home1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6ef2aa7c-e22f-4cad-aae5-2346dba37d33">Home</Template>
  </Info>
  <Properties>
    <pageVideo>
      <Value><![CDATA[{
  "url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
  "oembed": {
    "type": "video",
    "version": "1.0",
    "title": "Rick Astley - Never Gonna Give You Up (Official Music Video)",
    "author_name": "Rick Astley",
    "author_url": "https://www.youtube.com/c/RickastleyCoUkOfficial",
    "provider_name": "YouTube",
    "provider_url": "https://www.youtube.com/",
    "thumbnail_url": "https://i.ytimg.com/vi/dQw4w9WgXcQ/hqdefault.jpg",
    "thumbnail_height": 360,
    "thumbnail_width": 480,
    "html": "<iframe width=\"200\" height=\"113\" src=\"https://www.youtube.com/embed/dQw4w9WgXcQ?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>",
    "url": null,
    "height": 113,
    "width": 200,
    "cache_age": null
  }
}]]></Value>
    </pageVideo>
  </Properties>
</Content>