<?xml version="1.0" encoding="utf-8"?>
<DataType Key="72de9d10-46b5-4eba-b112-e023bd17c4b2" Alias="Home - Any - Novicell OEmbed" Level="1">
  <Info>
    <Name>Home - Any - Novicell OEmbed</Name>
    <EditorAlias>Novicell.OEmbed</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Type": null
}]]></Config>
</DataType>