<?xml version="1.0" encoding="utf-8"?>
<DataType Key="238d60ea-7686-4172-98d4-b617235e132b" Alias="OEmbed Video" Level="1">
  <Info>
    <Name>OEmbed Video</Name>
    <EditorAlias>Novicell.OEmbed</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Type": "Video"
}]]></Config>
</DataType>