<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dec7e4bb-a889-4b0e-93e0-fb942ae7c76f" Alias="Page Content - Blocks - Block List" Level="1">
  <Info>
    <Name>Page Content - Blocks - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#2986cc",
      "iconColor": "#2986cc",
      "thumbnail": null,
      "contentElementTypeKey": "854eea4b-b7e4-4101-84dd-80d8aaa06b30",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>