<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ba5c1437-4149-4911-8783-b1b22ce1b5fc" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="7d6b1df4-a6c6-48c1-8d9c-e16e34bcc54d">site</Parent>
    <Compositions>
      <Composition Key="f48eb5e8-f329-42d5-a868-fc75f4691358">pageContent</Composition>
      <Composition Key="7d6b1df4-a6c6-48c1-8d9c-e16e34bcc54d">site</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6ef2aa7c-e22f-4cad-aae5-2346dba37d33">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cc37654d-d4c3-4315-823f-df79a5b763c6</Key>
      <Name>Any</Name>
      <Alias>pageAny</Alias>
      <Definition>72de9d10-46b5-4eba-b112-e023bd17c4b2</Definition>
      <Type>Novicell.OEmbed</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>