<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f48eb5e8-f329-42d5-a868-fc75f4691358" Alias="pageContent" Level="2">
  <Info>
    <Name>Page Content</Name>
    <Icon>icon-defrag color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2fcebd66-a228-461b-897b-6c184feba9c3</Key>
      <Name>Video</Name>
      <Alias>pageVideo</Alias>
      <Definition>238d60ea-7686-4172-98d4-b617235e132b</Definition>
      <Type>Novicell.OEmbed</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>