<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7d6b1df4-a6c6-48c1-8d9c-e16e34bcc54d" Alias="site" Level="1">
  <Info>
    <Name>Site</Name>
    <Icon>icon-umb-translation color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ba5c1437-4149-4911-8783-b1b22ce1b5fc" SortOrder="0">home</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>